 <!-- 帶入樣板 -->
<%- include('./includes/header') %>
<!-- 之所以不將</head>也包含進樣板，是為了保留修改彈性 -->
</head>
<body>
  <div class="alert alert-danger" role="alert">
    <h1><%= pageTitle %></h1>
  </div>
  <h2>Something's wrong!<h2>
    <a href="/">back to front page</a>
<%- include('./includes/footer') %>
